@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.bg-primary-gradient {
  @apply bg-[linear-gradient(90deg,#8B5CF6_0%,#EC4899_50%,#F97316_100%)];
}

